h1{
color:red
}


body{
 background-color: #AAAAAA;
}
.header{
padding-left: 30px;
 background-color: aqua;
 display: flex;
justify-content: space-between;
}

.grid{
display:flex;
flex-wrap: wrap;
justify-content: space-around;

}

.footer{
display:flex;
justify-content: flex-end;
}

h2,p{
text-align: center;
}

.menu{
margin-right: 30px;
}

.menu a {
margin-left: 30px;
padding-right: 20px;

}

a:link{
color: burlywood
}

a:visited{
color: chartreuse
}

.item{
position:relative


}

.item p{
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 opacity: 0;
}

.item:hover p{
opacity: 1;
}

.item:hover img{
opacity: 0.33;
}